@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#00b8b8;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none !important;
   text-transform: none;
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}
/**cambio añadido**/

body {
   height:auto;
   align-items: center;
   overflow: hidden;
   }

.header{
   display: block;
   align-items: center;
}




/**end of cambio añadido**/




section{
   padding:1rem 2rem;
}

.heading{
   text-align: center;
   font-size: 3rem;
   color:var(--black);
   text-transform: uppercase;
   font-weight: bolder;
   margin-bottom: 0.2rem;
}

.heading .h1 {
   text-align: center;
   position: relative;
   width: 80%;
   margin: 50px auto;
   font-size: 2rem;
}

.visit-text {
   text-align: center;
   font-size: 3rem;
   color: #00b8b8;
   margin-top: 4rem;
   margin-left: 8%;
   height: 20px;
}

.about-clinica{
   align-items: center;
   position: relative;
   font-size: 1.5rem;
}
.about-clinica span{
   font-size: 2rem;
   color: #00b8b8;
}



/*galería de imágenes*/

.heading, h2 {
   text-align: center;
   position: relative;
   width: 80%;
   margin: 50px auto;
}

/*body {
   background-color: #ecf4fb;
}*/

h2::before {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   position: absolute;
   background-color: black;
   top: 50%;
   z-index: -1;
}

h2 span {
   background-color: #ecf4fb;
   padding: 0 15px;
}

.img-gallery {
   width: 80%;
   margin: 50px auto 50px;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
   gap: 30px;
}

.img-gallery img {
   width: 100%;
   cursor: default;
   transition: 1s;
}

.img-gallery img:hover {
   transform: scale(2.0);
}

.ful-img {
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0,0, 0.9);
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   align-items: center;
   justify-content: center;
   z-index: 99;
}

.ful-img span {
   position: absolute;
   top: 5%;
   right: 5%;
   font-size: 30px;
   color: #fff;
   cursor: pointer;
}

.ful-img img {
   width: 90%;
   max-width: 600px;
}

/* end of galería de imágenes*/

.link-btn{
   display: inline-block;
   padding:1rem 3rem;
   border-radius: .5rem;
   background-color: var(--blue);
   cursor: pointer;
   font-size: 1.7rem;
   color:var(--white);
}

.link-btn:hover{
   background-color: var(--black);
   color:var(--white);
}

.header{
   padding: 0.5rem;
   border-bottom: var(--border);
}

.whatsapp {
   position: initial;
   display: block;
   width:80px;
   height:80px;
   bottom:50px;
   right:40px;
   color:#FFF;
   border-radius:40px;
   text-align:center;
   font-size:40px;
   z-index:100;
 }
 
 .whatsapp-icon {
   margin-top:13px;
 }

.whatsapp-icon {
   display: flex;
   font-size: 30px;
   color: #25d366;
 }

 .container-contact {
   position: relative;
 }


 .contacto-header {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   transform: translateX(-5%);
   padding: 0px;
   left: 50%;
 }


.contacto-header a {
   display: flex;
}

.box-contact {
   width: 160px;
   height: 30px;
   background-color: #00b8b8;
   border-radius: 30px;
   display: flex;
   align-items: center;
}

.contacto-header a i {
   color: lightslategrey;
   font-size: 2.5rem;
   padding: 15px;

}

 .icono-placeholder {
   padding: 0.25em 0.6em;
   border-radius: 0.3rem;
   border: 1px solid #d3d6e4;
   text-align: center;
   box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
 }

.header.active{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:0;
}

.header .logo{
   font-size: 2rem;
   color:var(--black);
}

.header .logo img {
   padding-top: 0;
   height: 90px;
}

.header .logo span{
   color:var(--blue);
}

.header .nav a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--black);
}

.header .nav a:hover{
   color:var(--blue);
}

#menu-btn{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
   display: none;
   margin-right: 10px;
}

.home{
   background:url(../images/cli6_1.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.home .content{
   width: 100rem;
   padding:2rem;
}

.home .content h3{
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.home .content p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:1rem 0;
}

.about .row{
   min-height: 50vh;
}



.about .content span{
   font-size: 2rem;
   color:var(--blue);
   position: relative;
}

.about .content h3{
   font-size: 2.2rem;
   color:var(--black);
   margin-top: 1rem;
   position: relative;
  
}

/**.texto-nosotros{
   align-items: start;
   text-align: center;
   justify-content: center;
   position: relative;
}**/

.about .content p{
   padding:1rem 0;
   font-size: 1.6rem;
   color:var(--light-color);
   line-height: 2;
 
}


.services{
   background-color: var(--light-bg);
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.services .box-container .box{
   text-align: center;
   padding:2rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.services .box-container .box img{
   margin:1rem 0;
   height: 25rem;
}

.services .box-container .box h3{
   font-size: 2rem;
   padding:1rem 0;
   color:var(--black);
}

.services .box-container .box p{
   font-size: 1.5rem;
   color:var(--light-color);
   line-height: 2;
}

.process .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.process .box-container .box{
   background-color: var(--blue);
   padding:2rem;
   border-radius: .5rem;
   text-align: center;
   box-shadow: var(--box-shadow);
}

.process .box-container .box img{
   height: 15rem;
   margin:1rem 0;
}

.process .box-container .box h3{
   font-size: 2rem;
   color:var(--white);
   margin:1.5rem 0;
}

.process .box-container .box p{
   font-size: 1.5rem;
   color:var(--white);
   line-height: 2;
}



.contact form{
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:2rem;
   margin:0 auto;
   max-width: 50rem;
}

.contact form .message{
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--blue);
   padding:1.2rem 1rem;
   font-size: 1.7rem;
   color:var(--white);
   text-align: center;
}

.contact form .box{
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   text-transform: none;
}

.contact form span{
   font-size: 1.7rem;
   color:var(--black);
}

.box-map {
   background-color: var(--white);
   text-align: center;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   padding:2rem;
}

.box-map-mapa img{
   background-color: var(--white);
   text-align: center;
   border-radius: .4rem;
   box-shadow: var(--box-shadow);
   padding:2rem;
   max-width: 35%;
   align-items: normal;
   display: grid;
   margin-left: 32.5%;
}
.box-map-mapa span{
   text-align: center;
   margin-left: 46%;
   margin-top: 2px;
   font-size: 2rem;
   
}

.footer{
   background-color: var(--light-bg);
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:3rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   line-height: 5rem;
   font-size: 2rem;
   background-color: var(--blue);
   color:var(--white);
}

.footer .box-container .box h3{
   font-size: 2rem;
   margin:2rem 0;
   color:var(--black);
}

.footer .box-container .box p{
   font-size: 1.5rem;
   color:var(--light-color);
   text-transform: none;
}

.footer .credit{
   text-align: center;
   border-top: var(--border);
   padding-top: 2rem;
   margin-top: 2rem;
   font-size: 2rem;
   color:var(--light-color)
}

.footer .credit span{
   color:var(--blue);
}

.footer .credit a{
   color:var(--blue);
}







/* media queries  */



@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .header .link-btn{
      display: none;
   }

   section{
      padding:5rem 2rem;
   }

   

}

@media (max-width:768px){

   section{
      padding:1rem 1rem;
   }

   #menu-btn{
      display: block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }
   

   .header .nav{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      padding:1rem 0;
      text-align: center;
      flex-flow: column;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .nav.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .nav a{
      margin:1rem 0;
      font-size: 2rem;
   }

   .contacto-header{
     margin-left: -55px;
     margin-top: 25%;
     width: -10%;
   }

   .container .p{
      width: auto;
   }

   .header{
      margin-top: -20%;
   }

   .visit-text h1{
      font-size: 1.8rem;
   }

   

   .home{
      background-position: center;
   }

   .home .content{
      width: auto;
   }

   
   

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .home .content h3{
      font-size: 4rem;
   }

   .heading{
      font-size: 3rem;
   }

}